<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page title</title>
  <!-- Linking to loader css -->
  <link rel="stylesheet" href="../stylesheets/loader.css">
  <!-- Linking to navbar css -->
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <!-- Linking to it's css -->
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <!-- Linking to feed css -->
  <link rel="stylesheet" href="/stylesheets/feed.css">
  <!-- Linking to its css -->
  <link rel="stylesheet" href="/stylesheets/showImage.css">
</head>
<body>
	
<!-- Loader of page -->
<span class="loader-container loader-of-page">
   <div class="loader"></div>
</span>
	
<main class="main-container-of-page">
	<!------------------------------------------->
  <!--            NAVBAR SECTION             -->
  <!------------------------------------------->
  <nav>
  	<div class="left">
  		 <span class="name-of-website">
  			 Pinterest
  		 </span>
  	</div>
  	<div class="right">
  		<div class="container-of-links">
	  		 <span>
	  		 	 <a href="/">
	  		 	 	  Feed
	  		 	 </a>
	  		 </span>
	  		 <span>
	  		 	 <a href="/profile">
	  		 	 	  Profile
	  		 	 </a>
	  		 </span>
  		</div>
  		 
  		 <div class="nav-container-of-buttons">
		  	 <button class="square-button" id="search-button">
			  	 	 <a href="/search">
			  	 	   <img src="/images/search-icon-white-colour.png"/>
			  	 	 </a>
		  	 </button>
		 		 <button class="square-button" id="logout-button">
			 	 	 	 <a href="/api/user/logout">
			 	 	     Logout
			 	 	   </a>
		 		 </button>	
  		 </div>
  	</div>
  </nav>
  <!--=======================================-->
 
 
 
  <!------------------------------------------->
  <!--        YOUR IMAGES SECTION            -->
  <!------------------------------------------->
  <div class="image-container" data-userid="<%= user._id %>" data-boardname="<%= boardName %>">
    <!--  Here images will be shown by javascript -->
  </div> 
	<!--=======================================-->
 
	
	
	<!------------------------------------------->
  <!-- DROPDOWN MENU FOR IMAGE BOX THREE DOT -->
  <!------------------------------------------->
  <!-- This will cover whole screen when dropdown menu would shown to avoid unwanted outside click -->
  <div class="cover-outside-the-dropdown">
    <div class="cover-scroller"></div>
  </div>
    
  <div class="dropdown-menu-for-image-box">
    <div class="wrapper">
        <!-- 1. Delete button -->     
        <button class="delete-btn">
    			<span class="btn-text"> Delete this image </span>
    			<div class="buttons-loader" id="loader-of-delete-btn">
            <div class="loader"></div>
          </div>         
    	 </button>
    </div>
  </div>
  <!--=======================================-->
	
	
	
	<!------------------------------------------->
  <!--     FOOTER NAVIGATION SECTION         -->
  <!------------------------------------------->
	<footer>
	  <div class="right">
		    <button class="button-in-footer home-button">
		    	<a href="/">
		    		<img src="/images/home-icon-white-colour.png"/>
		    	</a>
		    </button>
		    <button class="button-in-footer bell-button">
		    	<a href="/search">
		    		<img src="/images/search-icon-white-colour.png"/>
		    	</a>
		    </button>
		    <button class="button-in-footer message-button">
		    	<a href="/inbox">
		    		<img src="/images/inbox-icon-white-colour.png"/>
		    	</a>
		    </button>
		    <button class="profile">
		    	<a href="/profile">
		    		<img src="/images/profile-icon-white-colour.png"/>
		    	</a>
		    </button>
	  </div>
	</footer>
	<!--=======================================-->
</main>
 
 

<!-- <script src="/javascripts/eruda-console.js"></script> -->
<!-- Linking to this page's javascript -->
<script src="/javascripts/feed.js"></script>
<!-- Linking to navbar javascript -->
<script src="/javascripts/navbar.js"></script>
<!-- This page's js, it will render image and display with pagination -->
<script src="/javascripts/show.js"></script>
</dody>
</html>
