<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Page title</title>
  <!-- Linking to login page's css -->
  <link rel="stylesheet" href="../stylesheets/login.css">
  <!-- Linking to its css -->
  <link rel="stylesheet" href="../stylesheets/sign_in.css">
</head>
<body>
 <!------------------------------------------->
 <!--             SIGN IN FORM              -->
 <!------------------------------------------->
 <div class="content">
    <div class="flex-div">
        <div class="name-content">
          <img src="images/pinterest-logo.png" alt=""/>
          <p>
          	Make account to see more
          </p>
        </div>
        <!-- Form is starting -->
        <form action="/register" method="post">
           <input type="text" placeholder="Username" name="username" required />
           <input type="text" placeholder="Email account" name="email" required />
           <input type="text" placeholder="Full name" name="fullname" required>
           <input type="password" name="password" placeholder="Password"/>
            
           <input type="submit" value="Register Account" class="common-input"/>
           <span class="span-or">OR</span>
           <div class="common-button">
           	<a href="/login">
           		Login to account
           	</a>
           	</div>
           
           <div class="forgot-password-container">
             <a href="/Forgot">
              <span> Forgot Password ? </span> 
             </a>
           </div>
           <hr>
        </form>
    </div>
 </div>
 <!--=======================================-->
 
</body>
</html>