<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Page title</title>
  <!-- Linking to loader css -->
  <link rel="stylesheet" href="/stylesheets/loader.css">
  <!-- Linking to it's css -->
  <link rel="stylesheet" href="/stylesheets/login.css">
  <!-- Linking to sign in css -->
  <link rel="stylesheet" href="/stylesheets/sign_in.css">
</head>
<body>
 <!------------------------------------------->
 <!--         RESET PASSWORD FORM           -->
 <!------------------------------------------->
 <div class="content">
  <div class="flex-div">
     <div class="error-box" id="error-box-for-reset-password">
       <!-- Here error will be displayed by javascript -->
     </div>
      
      <!-- Form is starting -->
      <form id="reset-password-form" data-userid="<%= id %>" data-token="<%= token %>">
         <input type="password" placeholder="New password" id="new-password" required />
         <input type="password" placeholder="Confirm password" id="confirm-password" required />
         
         <!-- Submit buttons -->
         <button type="submit" class="submit-buton common-input">
            <span> Reset password </span>
           	  <!-- Loader -->
						<span class="loader-container loader-inside-submit-button" id="loader-inside-reset-password">
							<div class="loader"></div>
						</span>
         </button>
         <hr>
      </form>
  </div>
 </div>
 <!--=======================================-->
 
 
 
 <!-- Linking to its javascript file -->
 <script src="/javascripts/reset-password.js"></script>
</body>
</html>