*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #262629;
}
.main-container-of-page{
	min-height: 100svh;
  width: 100vw;
}
.name-of-website{
	color: whitesmoke;
}



/*-------------------------------------------*/
/*     STYLING THIS PREVIEW PAGE SECTION      */
/*-------------------------------------------*/
.box-of-content{
	width: 100vw;
	display: grid;
	grid-template-columns: 44.5vw 44.5vw;
	grid-column-gap: 5vw;
	padding: 4vh 3vw;
}

.box-of-content .left{
	width: 100%;
	height: fit-content;
}

.box-of-content .left #content-img-container{
	width: 100%;
	margin: 0;
}

.box-of-content .left #content-img-container img{
 width: 100%;
 border-radius: 5px;
}

.box-of-content .left .image-name{
	font-size: 2.1rem;
	color: #9e0020;
	font-weight: bold;
	margin-bottom: 0.7rem;
}


.box-of-content .right{
	width: 100%;
	height: fit-content;
}

.box-of-content .right .wrapper{
	width: 100%;
}

.box-of-content .right .wrapper h{
	font-size: 1.4rem;
	display: block;
	color: whitesmoke;
	margin-bottom: 0.2rem;
}

.box-of-content .right .wrapper .description{
	color: whitesmoke;
	opacity: 0.8;
	font-size: 1.2rem;
}
/*==========================================*/



/*-------------------------------------------*/
/*             BUTTONS SECTION               */
/*-------------------------------------------*/
/* contains like, share, watch later btn */
#button-container{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1.5%;
  margin-bottom: 4%;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: space-between;
}

/* giving same styles to all btn box */
/* contains button image */
.btn-box{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background: #9e9ece;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 4px 8px;
  height: 35px;
  box-sizing: border-box;
}

/* giving same styles to all btn images */
.btn-box img{
  height: 70%;
  margin-right: 6px;
  aspect-ratio: 1.1/1;
}

/* contains like dislike btn tohether */
#like-dislike-box{
  margin-left: 4px;
}

#like-dislike-box a{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* hr line between like & dislike image */
#like-dislike-box hr{
  height: 20px;
  border: 0.5px solid #3d3d3d;
  margin-right: 5px;
  margin-left: 5px;
}

/* image of like & dislike box */
#like-dislike-box img{
  margin-left: 8px;
}

/*this is dislike button*/
#like-dislike-box #dislike{
  transform: rotate(180deg);
}

/* Save button */
#save-box{
  margin: 0px;
}

#save-box a{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*image of save btn box*/
#save-box img{
  margin-right: 6px;
}

/* Share button */
#share-box{
  margin: 0px;
}

#share-box a{
	height: 100%;
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

/*image of share box*/
#share-box img{
  margin-right: 6px;
}
/*==========================================*/



/*-------------------------------------------*/
/*        MODAL TO SAVE IMAGES TO BOARD      */
/*-------------------------------------------*/
.save-image-modal{
	position: fixed;
	width: 98vw;
	left: 1vw;
	bottom: -100%;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	background: black;
	display: flex;
	padding: 11px;
	justify-content: center;
	color: whitesmoke;
	max-height: calc(100svh - 60px);
	overflow-y: auto;
	display: none;
}

.save-image-modal .wrapper{
	height: 100%;
	width: 100%;
}

.navbar-of-save-modal{
	height: 20px;
	display: flex;
	justify-content: space-between;
  font-size: 1.2rem;
  padding: 5px 0px
  align-items: center;
  margin-bottom: 13px;
}

.navbar-of-save-modal img{
	height: 100%
}

.save-image-modal .wrapper .boards{
	width: 100%;
}

.save-image-modal .wrapper .box{
	height: 30px;
	width: 100%;
	padding: 5px 8px;
	margin-bottom: 10px;
	border: 0.5px solid whitesmoke;
	border-radius: 5px;
	background: #be5a40;
	display: flex;
	align-items: center;
}

.save-image-modal .wrapper .box p{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.loader-inside-board-boxes{
	position: static;
	width: 100%;
	height: 100%;
	background: transparent;
	display: none;
}

.loader-inside-board-boxes .loader{
  height: 100%;
	border-width: 3px;
}

.create-new-board-container{
	width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 7px; 
}

.create-new-board-container input{
	font-size: 1rem;
	padding: 4px 7px;
	background: transparent;
	color: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 4px;
	width: 100%;
}

.create-new-board-container button{
	background: pink;
	border: 1px solid whitesmoke;
	border-radius: 4px;
	font-size: 0.9rem;
	padding: 4px 8px;
}

.loader-inside-create-board-btn{
	position: static;
	width: 100%;
	height: 100%;
	background: transparent;
	display: none;
}

.loader-inside-create-board-btn .loader{
  height: 100%;
	border-width: 3px;
}
/*==========================================*/



/*-------------------------------------------*/
/*             COMMENTS SECTION              */
/*-------------------------------------------*/
/* container of whole comment section */
#comment-container{
 width: 100%;
}

/* contains comment numbers and dummy comment box */
#comment-box{
  width: 100%;
  background: #8686c2;
  padding: 2% 2%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  color: black;
  margin-bottom: 2%;
}

/* contains default displaying comment */
#dummy-comment{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

/*commenter profile image (tag)*/
#dummy-comment img{
  margin-right: 2%;
  width: 45px;
  aspect-ratio: 1/1;
}

/*-- actual comments section --*/
/* it will work like full comment page */
#comment-ka-main-container{
	height: 100dvh;
  background: #d0d0d;
  width: 100%;
  padding: 2%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  display: none;
  margin-top: 1px;
  overflow-y: auto;
}

/* navbar of comment */
/* contains cut button */
#navbar-of-comment{
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
  padding: 1% 1.2%;
  border-radius: 5px;
  position: sticky;
  top: 3px;
  font-size: 1.2rem;
  font-weight: 450;
  z-index: 8;
  height: 40px;
}

/* button to close comment page */
#comment-cross-button{
  height: 25px;
  border: none;
  outline: none;
  background: transparent;
}

/* cut image */
#comment-cross-button img{
  height: 100%;
}

/*-- comment boxes container & boxes --*/
/* comment boxes will append here */
.container-of-boxes-of-comment{
  min-height: 100%;
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
  padding-top: 4px;
  padding-bottom: 10px;
  position: relative;
  z-index: 10;
}

.wrapper-inside-comment-boxes-container{
	min-height: calc(100% + 70px);
}


/* box of comment */
.comment-box{
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 2% 2%;
  display: flex;
  color: whitesmoke;
  margin-bottom: 2%;
  font-size: 1.1rem;
  overflow: hidden;
  box-sizing: border-box;
  background: #313131;
  border-radius: 10px;
}

/* comment paragraph */
.comment-box span{
  width: 100%;
  overflow: hidden;
  height: auto;
  word-break: break-all;
}

/* paragraph or comment */
.paragraph-of-comment{
  display: -webkit-box;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

/* name of the commenter will display */
.commenter-name{
  font-size: 0.9rem;
  font-weight: 400;
  width: 100%;
}

/* container of image (commenter image) */
.img-container{
  height: 100%;
  width: 13vw;
  display: flex;
  align-items: flex-start !important;
}

/* frofile image of commenter (img tag) */
.img-container img{
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

#loader-inside-comment-boxes-con{
	display: flex;
	background: transparent;
	height: 100%;
	position: static;
}
/*==========================================*/



/*-------------------------------------------*/
/*           POST COMMENTS SECTION           */
/*-------------------------------------------*/
.main-container-of-post-comment{
	width: 100%;
	padding: 2px 0px;
	display: grid;
	grid-template-columns: 1fr auto;
  grid-template-rows: 40px;
	grid-column-gap: 5px
}

.main-container-of-post-comment form{
	width: 100%;
}

.input-text-of-post-comment{
	font-size: 1rem;
	padding: 5px 7px;
	border: none;
	border: 2px solid skyblue;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

.main-container-of-post-comment .image-container{
	 height: 100%;
	aspect-ratio: 1/1;
}

.main-container-of-post-comment .image-container img{
	height: 100%;
}

.main-container-of-post-comment .loader-container{
	height: 100%;
	aspect-ratio: 1/1;
	background: skyblue;
	position: static;
	display: none;
	border-radius: 5px;
}

.main-container-of-post-comment .loader-container .loader{
	height: 70%;
	border-width: 3px;
}
/*===========================================*/



/*-------------------------------------------*/
/*           MEDIA QUERY SECTION             */
/*-------------------------------------------*/
@media (max-width: 800px){
	.box-of-content{
		width: 100vw;
  	 grid-template-columns: 94vw;
  	 padding: 2vh 3vw;
 	  grid-column-gap: 0;	
	}
}



:root{
  --profile-space-at-thousand-px: 60px;
  --profile-space-at-sixteen-hundred-px: 70px;
}
@media(max-width: 629px){
	.box-of-content{
		margin-top: 7px;
		margin-bottom: 54px;
	}
}


@media(min-width: 630px) and (max-width: 999px){
	.box-of-content{
		margin-top: 53px;
	}
}


@media(min-width: 1000px){
  .box-of-content{
    margin-top: calc(var(--nav-height-at-thousand-px) + 25px);
  }
}
/*==========================================*/