*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
}
body{
	color: whitesmoke;
	user-select: none;
}
.main-container-of-page{
	width: 100vw;
	display: none;
	
}



/*-------------------------------------------*/
/*             PROFILE SECTION               */
/*-------------------------------------------*/
:root{
  --profile-space-at-thousand-px: 60px;
  --profile-space-at-sixteen-hundred-px: 70px;
}

.profile-section{
	width: 98vw;
	margin-left: 1vw;
	max-width: 1500px;
	background: #212121;
	margin-top: 48px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
  align-items: center;
	padding: 17px 0px;
}

.card{
  width: 95%;
	padding: 0vh 2vw;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.right-side-of-profile-card{
   text-align: center; 
}


.box-for-margin-between-left-and-right-side-of-profile-card{
  margin: 0px 3px;
  min-height: 10px;
}



.profile-picture{
	position: relative;
	height: 100px;
	max-height: 100px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	border: 1px solid whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-picture .image-box{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
}

.profile-picture .image-box img{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.profile-picture #up-pen{
	position: absolute;
	top: 70%;
	left: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	aspect-ratio: 1/1;
	background: whitesmoke;
	border-radius: 50%;
	overflow: hidden;
}

.profile-picture #up-pen img{
	height: 50%;
	width: auto;
}
.profile-picture #up-pen input{
	display: none;
}
.card{
  font-size: 16px;
}
.card .name{
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 2px;
}

.card .username{
  margin: 0.6rem 0px;
  font-size: 1.1em;
  letter-spacing: 2px;
}

.profile-section .container-of-buttons{
  display: flex;
  gap: 10px;
}

.profile-section .container-of-buttons .button{
  border: none;
	border-radius: 5px;
	padding: 5px 10px;
	background: #686868;
	font-size: 0.85em;
	color: whitesmoke;
	letter-spacing: 1px;
}

.profile-section .button a{
	color: white;
	text-decoration: none;
}

.buttons-loader{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  border: 1px solid black;
  border-radius: 5px;
  border: none;
  background: transparent;
  display: none; 
}
.buttons-loader .loader{
  width: 21px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px double pink;
  border-left: 3px solid dodgerblue;
  animation: loading 0.9s infinite linear; 
}

#setting-button-in-profile-card{
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  height: 30px;
  background-color: transparent;
}
#setting-button-in-profile-card img{
  height: 90%;
}

/*==========================================*/



/*-------------------------------------------*/
/*           OPTIONS POSTS &  SAVED          */
/*-------------------------------------------*/
/* If you want to unhide this the remove 'display: none' from everywhere*/
.options-container{
	width: 98vw;
	margin: 10px 1vw;
	height: 56px;
	padding: 5px 0px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	display: none;
}

.options-container .wrapper{
	height: 100%;
	display: flex;
	align-items: center;
	display: none;
}

.options-container .wrapper .option{
	height: 100%;
	padding: 10px 20px;
	border-radius: 26px;
	background: #686868;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

#posts-option{
	margin-right: 5vw;
	background: #9e0020D;
}
/*==========================================*/



/*-------------------------------------------*/
/*             UPLOAD IMAGE CARD             */
/*-------------------------------------------*/
.upload-sec{
  width: 98vw;
  margin: 5px 1vw;
  opacity: 1;  
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.uplod-image-form{
  height: 90%;
  max-width: 400px;
  background: #313131;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 17px 0px;
}

.top{
  height: 17px;
  width: 95%;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close{
  height: 100%;
  aspect-ratio: 1/1;
}

.close img{
  height: 100%;
}

.uplod-image-form div{
  width: 95%;
}

.file-input-div{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background: #8098ff;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-input-div input{
  transform: scale(2);
  opacity: 0;
  position: absolute;
  top: 2%;
  left: 2%;
}

.box-for-text-input{
  margin: 10px 0px;
}

.text-inputs-inside-upload-image-form{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  padding: 0px 8px;
  font-size: 1rem;
  border: 1px solid #8098ff;
}

.submit-container{
  width: 100%;
}

.submit{
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  background: #8098ff;
}


/*==========================================*/



/*-------------------------------------------*/
/*               IMAGE CONTAINER             */
/*-------------------------------------------*/
.image-container{
  padding-top: 20px;
  align-items: start;
}
/*==========================================*/




/*-------------------------------------------*/
/*              LOADER SECTION               */
/*-------------------------------------------*/
.loader-container-inside-upload-image-submit-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  border: none;
  background: #8098ff;
  display: none;
}

/* loader [div] */
.loader-container-inside-upload-image-submit-btn .loader{
  width: 21px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px double pink;
  border-left: 3px solid dodgerblue;
  animation: loading 0.9s infinite linear;
}

/* Loader animation */
@keyframes loading{
  to{
    transform: rotate(360deg);
  }
}
/*==========================================*/



/*-------------------------------------------*/
/*           MEDIA QUERY SECTION             */
/*-------------------------------------------*/
@media(max-width: 629px){
	.profile-section{
		margin-top: 53px;
  }
}


@media(min-width: 630px) and (max-width: 999px){
	.profile-section{
		margin-top: 53px;
	}
}


@media(min-width: 1000px){
  .profile-section{
    margin-top: calc(var(--nav-height-at-thousand-px) + 25px);
  }
  .box-for-margin-between-left-and-right-side-of-profile-card{
    max-width: 60px;
  }
}


@media(min-width: 1500px){
  .profile-section{
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
/*==========================================*/

@media(max-width: 339px){
  .box-for-margin-between-left-and-right-side-of-profile-card{
  
  width: 5vw;
}
.card{
    font-size: 13.5px;
  }
.profile-section .container-of-buttons .button{
  font-size: 1em;
}  
}

@media(min-width: 340px) and (max-width: 549px){
  .card{
    font-size: 17px;
  }
  .box-for-margin-between-left-and-right-side-of-profile-card{
  
  width: 5vw;
}
}

@media(min-width: 550px){
  .card{
    font-size: 20px;
  }  
}

/* Making profile card in landscape*/
@media(min-width: 600px){
  .box-for-margin-between-left-and-right-side-of-profile-card{
    width: 6vw;
    height: 100%;
    max-width: 60px;
  }
  .card{
    flex-direction: row;
  }
  .right-side-of-profile-card{
      text-align: left; 
    }
    
    .name{
      margin-top: 0px;
    }
}


@media(min-width: 200px) and (max-width: 400px){
  .profile-picture{
    height: 80px;
    aspect-ratio: 1/1;
  }
  .profile-section .card{
    padding: 0px;
  }
  .right-side-of-profile-card{
    text-align: left;
  }
  .right-side-of-profile-card .name{
    
    font-weight: 400;
    letter-spacing: 1.5px;
  }
  .right-side-of-profile-card .username{
    
    font-weight: 200;
    letter-spacing: 1.5px;
  }
}




