*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  background: #f2f4f7;
  text-align: center;
  width: 100vw;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 0vw;
  flex-direction: column;
}



/*-------------------------------------------*/
/*               SIGN IN FORM                */
/*-------------------------------------------*/
/* Main container of all form sections */
.all-forms-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* This is like a wrapper in every form section to put all the things in center  */
.flex-div{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling to all name content */
/* Contains heading & paragraph like "Register account to see more" or etc.. */
.name-content{
  font-size: 2.5rem;
  font-weight: bold;
}

.name-content img{
  height: 47px;
  aspect-ratio: 1/1;
  margin-bottom: 0.2rem;
}

/* Styling error-box in each section */
.error-box{
	width: 100%;
	padding: 4px;
	margin-bottom: 5px;
	text-align: center;
	color: red;
	font-size: 1.5rem;
}

/* Styling to all forms  */
/* Form section */
form{
  display: inline-flex;
  flex-direction: column;
  background: #fff;
  padding: 2rem;
  width: 530px;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

form input{
  padding: 0.8rem 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  height: 37px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}

form .common-input{
  outline: none;
  border: none;
  background: #d3002b;
  font-size: 1.6rem;
  font-weight: bold;
  color: #e5e5e5;
  margin-bottom: 0.4rem;
}

form .common-input:hover {
  opacity: 0.8;
}

/* Styling to all common-buttons */
form .common-button{
  border: none;
  background: gray;
  font-size: 1.6rem;
  height: 37px;
  color: whitesmoke;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling all submit buttons */
.submit-buton{
	outline: none;
  border: none;
  background: #d3002b;
  font-size: 1.6rem;
  font-weight: bold;
  color: #e5e5e5;
  margin-bottom: 0.4rem;
  padding: 0.8rem 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  height: 37px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  overflow: hidden;
  position: relative;
}

/* Styling containet of loader inside all submit button buttons */
.loader-inside-submit-button{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  background: #d3002b;
  display: none;
}

/* Styling loader [div] inside all forms sumbit button */
.loader-inside-submit-button .loader{
	height: 70%;
	border-width: 4px;
	border-color: whitesmoke;  
  border-right-color: transparent;
}
/*===========================================*/



/*-------------------------------------------*/
/*                LOG IN FORM                */
/*-------------------------------------------*/
/* By default login form will be hidden */
.login-side-container{
	display: none;
}

form .span-or{
  margin-bottom: 0.4rem;
}


form .forgot-password-container{
  font-size: 1.5rem;
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 20px;
}

form hr{
  background: #f7f7f7;
  margin: 1rem;
}

.create-account a{
	color:  #e5e5e5;
}

form .create-account:hover {
  background: #03ad06;
  cursor: pointer;
}
/*===========================================*/



/*-------------------------------------------*/
/*  SEND RESET PASSWORD EMAIL FORM  SECTION  */
/*-------------------------------------------*/
.send-reset-email-side{
  display: none;
}

/* This will used to show message " Email send succesfully" in greeen colour */
.green{
  color: green;
}
/*===========================================*/





/* New Google button */



.register-with-google-button {
  height: 37px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  padding: 0px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.register-with-google-button:hover {
  background-color: #29a429;
}

.register-with-google-button img {
  height: 60%;
  margin-right: 10px;
}  



/* .register-with-google-button{
  width: 100%;;
  height: 37px;
  border-radius: 5px;
  background: green;
  display: flex;
 justify-content: center;
 align-items: center;
  margin-top: 1rem;
  padding: 0px 10px;
  user-select: none;
}
.register-with-google-button .google-image-container{
  height: 70%;
  aspect-ratio: 1/1;
  background: orange;
  margin-right: 15px;
}
.register-with-google-button .google-image-container img{
  height: 100%;
  width:  100%;
}
 */

.register-with-google-button span{
  font-size: 1.7rem;
  color: white;
  font-weight: 450;
  font-size: 1.7rem;
  color: white;
  font-weight: 500;
  user-select: none;
}







/*-------------------------------------------*/
/*           MEDIA QUERY SECTION             */
/*-------------------------------------------*/
@media (max-width: 500px) {
  html {
    font-size: 60%;
  }
  
  .name-content {
    margin: 0;
    text-align: center;
  }
  
  form {
    width: 97vw;
    max-width: 410px;
    height: fit-content;
  }

  form input {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  form .common-button {
    font-size: 1.6rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }

  form a {
    font-size: 1.5rem;
  }

  form .create-account {
    font-size: 1.5rem;
  }

}


@media (min-width: 501px) and (max-width: 768px) {
  .name-content {
    margin: 0;
    text-align: center;
  }
  
  html{
   	font-size: 60%;
  }
  
  form {
    width: 430px;
    height: fit-content;
    margin-bottom: 6px;
  }

  form input {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  form .common-button {
    font-size: 1.5rem;
  }

  form a {
    font-size: 1.5rem;
  }

  form .create-account {
    font-size: 1.5rem;
  }

  
}


@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 60%;
  }

  .name-content {
    margin: 0;
    text-align: center;
  }

  form {
    width: 450px;
    height: fit-content;
  }

  form input {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  form .login {
    font-size: 1.5rem;
  }

  form a {
    font-size: 1.5rem;
  }

  form .create-account {
    font-size: 1.5rem;
  }

}


@media (orientation: landscape) and (max-height: 500px) {
  form{
    margin-bottom: 5px;
  }
}
/*===========================================*/